table {
    td {
        border-bottom: 1px solid #ccc;
    }
}

.fx-fixed-body {
    td {
        background-color: #eee;
    }
}

.fx-row-header {
    background-color: #eee;
    .fx-fixed-header {
        th {
            background-color: #eee;
            min-height: 45px;
        }
    }
    .fx-scroll-header {
        th {
            background-color: #eee;
            min-height: 45px;
        }
    }
}

.fx-row-body {
    background-color: #eee;
    .fx-scroll-body {
        background-color: #fff;
    }
}