.fixed-table-container {
    width: 400px;
    max-height: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    table {
        margin: 0;
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            padding: 0;
            box-sizing: border-box;
            /**
           * Current implementation doesn't work when
           * cells in a row have different heights
           */
            white-space: nowrap !important;
            .row {
                margin: 0;
                padding: 0;
                .col-md-12 {
                    margin: 0;
                    padding: 0;
                    .form-control {
                        border-color: transparent;
                    }
                }
            }
        }
        .header-fixed-cell {
            background: #eee;
        }
        .body-fixed-cell {
            background: #eee;
        }
        th:last-child,
        td:last-child {
            border-right: 0;
        }
        td:first-child {
            width: 100px;
        }
        tr:last-child td {
            border-bottom: 0;
        }
    }
}


.time {
    min-width: 100px;
}