<section class="top__block01">
    <div class="container">
        <div class="top__block01--wrap">
            <h4 class="top__block01--h4"><span>クラウドサービス対応</span></h4>
            <h3 class="top__block01--h3">日通システムの統合HRMソリューション</h3>
        </div>
        <h2 class="top__block01--h2">勤次郎<span class="ffR">Enterprise</span>シリーズ</h2>
        <p class="top__block01--p">システム導入から運用まで、専任の担当者が企業さまごとに丁寧にサポートしますので、<br>
            複雑な勤務体系・就業環境の企業様もご安心ください。</p>

        <ul class="top__block01--list">
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    就業<br class="visible-xs">ソリューション
                </h4>
                <p>多様化する雇用・勤務・賃金形態に、幅広く対応する就業（勤怠）管理システムです。</p>
                <a href="https://www.nittsusystem.co.jp/products/employment/description/" class="bl-bigger">詳しく見る</a>
            </li>
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    人事<br class="visible-xs">ソリューション
                </h4>
                <p>人材情報の一元管理を可能にし、迅速な意思決定へと導く 経営戦略型ソリューションです。</p>
                <a href="https://www.nittsusystem.co.jp/products/human-resources/description/" class="bl-bigger">詳しく見る</a>
            </li>
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    給与<br class="visible-xs">ソリューション
                </h4>
                <p>「就業ソリューション」との連携により、スピーディ且つ正確な給与処理の実現に貢献します。　</p>
                <a href="https://www.nittsusystem.co.jp/products/payroll-system/description/" class="bl-bigger">詳しく見る</a>
            </li>
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    労務コストマネジ<br class="visible-xs">メントシステム
                </h4>
                <p>過去・現在・未来の分析により、労務コストの把握と低減を実現し、安定した財務基盤を形成します。</p>
                <a href="https://www.nittsusystem.co.jp/products/labor-cost/description/" class="bl-bigger">詳しく見る</a>
            </li>
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    <span>法人向け</span>
                    ヘルス×ライフ
                </h4>
                <p>昨今の働き方改革に適応した勤怠管理システムとの連結により、健康経営を実現します。</p>
                <a href="https://www.nittsusystem.co.jp/products/healthcare/health-life/" class="bl-bigger">詳しく見る</a>
            </li>

            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    <span>健康管理アプリ</span>
                    ヘルス×ライフ
                </h4>
                <p>あなたのココロとカラダの健康管理を応援するアプリです。</p>
                <a href="https://www.nittsusystem.co.jp/health_lp/" class="bl-bigger">詳しく見る</a>
            </li>

            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    就業情報端末<br>「NRLシリーズ」
                </h4>
                <p>ICカード、おサイフケータイなどで打刻ができるタイムレコーダです。</p>
                <a href="https://www.nittsusystem.co.jp/products/timerecorder/top/" class="bl-bigger">詳しく見る</a>
            </li>
            <li class="top__block01--item bl-hot" style="height: 260px; cursor: pointer;">
                <h4 class="top__block01--item-h4">
                    時刻補正装置
                </h4>
                <p>GPSの標準時間との同期を容易に実現する低価格でシンプルで使いやすい装置です。</p>
                <a href="https://www.nittsusystem.co.jp/products/justtime/top/" class="bl-bigger">詳しく見る</a>
            </li>
        </ul>

        <a href="https://www.nittsusystem.co.jp/products/" class="top__block01--link"><span>シリーズ一覧を見る</span></a>
    </div>
</section>