<div class="login-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-vcard"></i>
                </span>
            </div>
            <input type="text" class="form-control" data-bind="i18n: { placeholder: '#username', 'aria-label': '#username'  }, hasFocus: focus, value: userName" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-key"></i>
                </span>
            </div>
            <input type="text" class="form-control" data-bind="i18n: { placeholder: '#password', 'aria-label': '#password'  }, value: passWord" aria-describedby="basic-addon1">
        </div>
        <div class="forgot">
            <a href="/reset" data-bind="i18n: { text: '#login_forgot' }"></a>
        </div>
    </div>

<div class="text-center">
    <hr />
    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="i18n: '#login', click: $vm.getData()"></button>
    <button class="btn btn-secondary btn-sm" data-dismiss="modal" data-bind="i18n: '#cancel'"></button>
</div>