	pre {
	    padding: 1em;
	    line-height: 1.5;
	    color: #ce9178;
	    background-color: #252526;
	}

	code {
	    font-size: 1.2em;
	}

	h1 span {
	    font-size: 0.5em;
	}

	a {
	    color: gray;
	}

	/* end of page css - below is for the code highlighter */

	.javascript .comment,
	.ruby .comment {
	    color: green;
	}

	.javascript .string,
	.ruby .string {
	    color: teal;
	}

	.javascript .keywords,
	.ruby .keywords {
	    color: #569cd6;
	}

	.javascript .global {
	    color: blue;
	}

	.javascript .typeof {
	    color: #f00;
	}

	.javascript .prop {
	    color: floralwhite;
	}

	.javascript .brackets,
	.ruby .brackets {
	    color: #569cd6;
	}

	.css {
	    .comment {
	        color: #6a9955;
	    }
	    .properties {
	        color: #9cdcfe;
	    }
	    .selectors {
	        color: #d7ba7d;
	    }
	    .brackets {
	        color: #d4d4d4;
	    }
	    .units {
	        color: #b5cea8;
	    }
	    .url {
	        &-name {
	            color: #dcdcaa;
	        }
	        &-value {
	            color: #ce9178;
	        }
	        &-brackets {
	            color: #808080;
	        }
	    }
	    .comma {
	        color: #d4d4d4;
	    }
	}

	.html {
	    color: #d4d4d4;
	    .tag {
	        color: #569cd6;
	    }
	    .comment {
	        color: #6a9955;
	        font-style: italic;
	    }
	    .doctype {
	        color: #569cd6;
	    }
	    .attribute {
	        color: #9cdcfe;
	    }
	    .attribute-value {
	        color: #ce9178;
	    }
	    .brackets {
	        color: #808080;
	    }
	}