<div data-bind="switch: 'pending'">
    <div data-bind="case: 'shipped'">
        Your order has been shipped. Your tracking number is abc
    </div>
    <div data-bind="case: 'pending'">
        Your order is being processed. Please be patient.
    </div>
    <div data-bind="case: 'incomplete'">
        Your order could not be processed. Please go back and complete the missing data.
    </div>
    <div data-bind="case: $default">
        Please call customer service to determine the status of your order.
    </div>
</div>

<div class="abc">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" data-bind="sortable: [1,2,3,4]">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill" data-bind="text: $data"></span>
                </li>
            </ul>
        </div>
    </div>
</div>