<div id="sample_switch" data-bind="switch: 'pending'">
    <div data-bind="case: 'shipped'">
        Your order has been shipped. Your tracking number is abc
    </div>
    <div data-bind="case: 'pending'">
        <span>Your order is being processed. Please be patient.</span>
    </div>
    <div data-bind="case: 'incomplete'">
        Your order could not be processed. Please go back and complete the missing data.
    </div>
    <div data-bind="case: $default">
        <span>Please call customer service to determine the status of your order.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 markdown-preview">
        <textarea class="form-control">
# This is an h1 tag
## This is an h2 tag
###### This is an h6 tag
___
###### Emphasis
*This text will be italic*
_This will also be italic_

**This text will be bold**
__This will also be bold__

_You **can** combine them_
*You __can__ also combine them*
---
###### Links
[Sample URL](/clone-ui/nittsu)
[I'm an inline-style link](https://www.google.com)

[I'm an inline-style link with title](https://www.google.com "Google's Homepage")

[I'm a reference-style link][Arbitrary case-insensitive reference text]

[I'm a relative reference to a repository file](../blob/master/LICENSE)

[You can use numbers for reference-style link definitions][1]

Or leave it empty and use the [link text itself].

URLs and URLs in angle brackets will automatically get turned into links. 
http://www.example.com or &lt;http://www.example.com&gt; and sometimes 
example.com (but not on Github, for example).

Some text to show that the reference links can follow later.

[arbitrary case-insensitive reference text]: https://www.mozilla.org
[1]: http://slashdot.org
[link text itself]: http://www.reddit.com
---
###### Image
#![µmd.js](http://simonwaldherr.de/umd.png)
---
###### Mailto
Send to me: &lt;nguyentuevuong@gmail.com&gt;
---
###### Blockquote

> Blockquotes are very handy in email to emulate reply text.
> This line is part of the same quote.
> I think you should use an `addr` element here instead.

Quote break.

> This is a very long line that will still be quoted properly when it wraps. Oh boy let's keep writing to make sure this is long enough to actually wrap for everyone. Oh, you can *put* **Markdown** into a blockquote.

---
###### Table
this | *left* | **center**   | right
-----|:-------|:--------:|------:
with | sample | content  | for
lorem| ipsum  | dolor    | sit
sit  | amet   | sed      | do
do   | eiusom | tempor   | with
---
###### Code
```typescript
@handler({
    virtual: false,
    bindingName: 'code'
})
export class I18nBindingHandler implements KnockoutBindingHandler {
    init = (element: HTMLElement, valueAccessor: any, allBindingsAccessor: any, viewModel: any, bindingContext: KnockoutBindingContext) => {
        element.classList.add('pretty-print');
        ko.bindingHandlers.html.init!(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext);
    }
    update = (element: HTMLElement, valueAccessor: any, allBindingsAccessor: any, viewModel: any, bindingContext: KnockoutBindingContext) => {
        element.classList.add('html-preview');
    }
}
```
```javascript
s = "Python syntax highlighting"
print s
```
```
No language indicated, so no syntax highlighting. 
But let's throw in a &lt;b&gt;tag&lt;/b&gt;.
```
---
###### List

1. At vero eos et accusamus et iusto odio dignissimos ducimus
1. Qui blanditiis praesentium voluptatum deleniti atque corrupti
  * Quos dolores et quas molestias excepturi sint
  * Obcaecati *cupiditate **non** provident*
  * Et harum quidem rerum facilis est et expedita distinctio
    1. Neque porro quisquam
    2. est qui dolorem ipsum
    3. quia dolor sit amet
    4. consectetur adipisci velit
1. Quis autem vel eum iure reprehenderit
1. qui in ea voluptate velit esse
    3. quia dolor sit amet
    4. consectetur adipisci velit
1. Quis autem vel eum iure reprehenderit
1. qui in ea voluptate velit esse

</textarea>
    </div>
    <div id="html_preview" class="col-md-6">

    </div>
</div>
<hr />
<pre data-bind="code: '#sample_switch', type: 'xml'"></pre>
<pre data-bind="code: '.tool-bar{color: #f00;>.btn{width: 300px;}}', type: 'scss'"></pre>
<pre data-bind="code: 'function() { let array = [1,2,3,4,5];\nreturn _.find(array, x => x == 2); }', type: 'javascript'"></pre>

<pre data-bind="code: '@component({url: \'/home/about\', name: \'home-view\'})\nexport class ViewModel { id: KnockoutObservable<string> = ko.observable(\'\'); model: {id: ko.observable(), name: ko.observable()} constructor() {let self = this;} }', type: 'typescript'"></pre>

<div id="sample_class" class="abc">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" data-bind="sortable: { data: $vm.listEmployee, as: 'item' }">
                <li class="list-group-item d-flex justify-content-between align-items-center" data-bind="text: item.name">
                </li>
            </ul>
        </div>
        <div class="col-md-8" data-bind="dragable: { }">
            <pre data-bind="code: listEmployee"></pre>
        </div>
    </div>
</div>