<div id="sample_switch" data-bind="switch: 'pending'">
    <div data-bind="case: 'shipped'">
        Your order has been shipped. Your tracking number is abc
    </div>
    <div data-bind="case: 'pending'">
        <span>Your order is being processed. Please be patient.</span>
    </div>
    <div data-bind="case: 'incomplete'">
        Your order could not be processed. Please go back and complete the missing data.
    </div>
    <div data-bind="case: $default">
        <span>Please call customer service to determine the status of your order.</span>
    </div>
</div>

<pre data-bind="code: '#sample_switch', type: 'xml'"></pre>
<pre data-bind="code: '.tool-bar{color: #f00;>.btn{width: 300px;}}', type: 'scss'"></pre>
<pre data-bind="code: 'function() { let array = [1,2,3,4,5];\nreturn _.find(array, x => x == 2); }', type: 'javascript'"></pre>

<pre data-bind="code: '@component({url: \'/home/about\', name: \'home-view\'})\nexport class ViewModel { id: KnockoutObservable<string> = ko.observable(\'\'); model: {id: ko.observable(), name: ko.observable()} constructor() {let self = this;} }', type: 'typescript'"></pre>

<div id="sample_class" class="abc">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" data-bind="sortable: { data: $vm.listEmployee, as: 'item' }">
                <li class="list-group-item d-flex justify-content-between align-items-center" data-bind="text: item.name">
                </li>
            </ul>
        </div>
        <div class="col-md-8" data-bind="dragable: { }">
            <pre data-bind="code: listEmployee"></pre>
        </div>
    </div>
</div>