<div class="row">
    <div class="col-md-4">
        <button data-bind="click: loadData, text: 'Load ' + type"></button>
    </div>
    <div class="col-md-8" data-bind="text: (data(), timing() + ' ms')"></div>
</div>
<hr />
<div style="max-height: 250px; overflow: auto;">
    <table class="table table-bordered">
        <tbody data-bind='foreach: data'>
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: position"></td>
                <td data-bind="text: location"></td>
            </tr>
        </tbody>
    </table>
</div>