<div data-bind="text: 'Load ' + type"></div>

<div class="row">
    <div class="col-md-6">
        <label>Page size:</label>
        <select class="form-control" data-bind="options: [10, 25, 50, 100],
            value: pageSize,
            optionsCaption: 'Choose...'"></select>
    </div>
    <div class="col-md-6">
        <label>Page index:</label>
        <select class="form-control" data-bind="options: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                value: pageIndex,
                optionsCaption: 'Choose...'"></select>
    </div>
</div>
<div data-bind="text: (currentPageData(), timing() + ' ms')"></div>
<hr />
<div style="max-height: 250px; overflow: auto;">
    <table class="table table-bordered">
        <tbody data-bind='foreach: currentPageData'>
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: position"></td>
                <td data-bind="text: location"></td>
            </tr>
        </tbody>
    </table>
</div>