<div class="login-form mx-auto animated fadeInDown">
    <div class="panel">
        <h2 data-bind="i18n: '#login'"></h2>
        <p data-bind="i18n: '#login_email'"></p>
    </div>
    <hr />
    <div class="form-group" data-bind="init: { $userName: $vm.model.userName }, css: { 'has-danger': $userName.hasError }">
        <label class="control-label" data-bind="i18n: $userName.$name"></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-vcard"></i>
                </span>
            </div>
            <input type="text" class="form-control" data-bind="
                regex: {
                    value: $userName,
                    pattern: /[0-9.]+/g
                },                 
                css: { 'is-invalid': $userName.hasError }, 
                i18n: { 
                    placeholder: $userName.$name, 
                    'aria-label': $userName.$name
                }, 
                hasFocus: $userName.$focus,
                attr: ko.toJS($userName.$attr)">
            <div class="invalid-feedback" data-bind="text: $userName.validationMessage"></div>
        </div>
    </div>
    <label class="control-label" data-bind="i18n: $userName.$name"></label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-key"></i>
            </span>
        </div>
        <input type="text" class="form-control" data-bind="i18n: { placeholder: '#password', 'aria-label': '#password'  }, hasFocus: model.passWord.$focus"
            aria-describedby="basic-addon1">
    </div>
    <div class="forgot">
        <a href="/reset" data-bind="i18n: { text: '#login_forgot' }"></a>
    </div>
    <button type="button" class="btn btn-primary btn-block" data-bind="i18n: '#login', click: $vm.checkValidate"></button>
    <button type="button" class="btn btn-primary btn-block" data-bind="i18n: '#login', click: $vm.removeValidate"></button>
</div>