<div class="login-form mx-auto animated fadeInDown">
    <div class="panel">
        <h2 data-bind="i18n: '#login'"></h2>
        <p data-bind="i18n: '#login_email'"></p>
    </div>
    <hr />
    <div data-bind="input: $vm.model.userName"></div>
    <div data-bind="time: $vm.model.passWord"></div>
    <span data-bind="text: $vm.model.passWord"></span>
    <div class="forgot">
        <a href="/reset" data-bind="i18n: { text: '#login_forgot' }"></a>
    </div>
    <button type="button" class="btn btn-primary btn-block" data-bind="i18n: '#login', click: $vm.checkValidate"></button>
</div>