<div class="login-form mx-auto animated fadeInDown">
    <div class="panel">
        <h2 data-bind="i18n: '#login'"></h2>
        <p data-bind="i18n: '#login_email'"></p>
    </div>
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-vcard"></i>
            </span>
        </div>
        <input type="text" class="form-control" data-bind="i18n: { placeholder: '#username', 'aria-label': '#username'  }, hasFocus: focus.userName" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-key"></i>
            </span>
        </div>
        <input type="text" class="form-control" data-bind="i18n: { placeholder: '#password', 'aria-label': '#password'  }, hasFocus: focus.passWord" aria-describedby="basic-addon1">
    </div>
    <div class="forgot">
        <a href="/reset" data-bind="i18n: { text: '#login_forgot' }"></a>
    </div>
    <button type="button" class="btn btn-primary" data-bind="i18n: '#login'"></button>
</div>