<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 404 </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p> We can not find the page you're looking for.
                <br>
                <a href="/"> Return home </a> or try the search bar below.
            </p>
            <div class="input-group">
                <input type="text" class="form-control" data-bind="hasFocus: focusSearch" placeholder="keyword...">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <p>
                <a href=""><i class="fa fa-long-arrow-left"></i>go back</a>
            </p>
        </div>
    </div>
</div>