<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top flex-md-nowrap">
    <div class="dropdown">
        <a class="navbar-brand" href="javascript:0" aria-label="Nippo App" data-toggle="dropdown">
            <i class="fab fa-windows"></i>
        </a>
        <div class="dropdown-menu">
            <div class="menu-group">
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-tachometer"></i>
                    <span>North central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-hospital-o"></i>
                    <span>Middle central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-stack-overflow"></i>
                    <span>South central</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sample/index">
                    <i class="fa fa-support"></i>
                    <span data-bind="i18n: { text: '#sample' }"></span>
                </a>
            </div>
            <div class="menu-group">
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-tachometer"></i>
                    <span>North central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-hospital-o"></i>
                    <span>Middle central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-stack-overflow"></i>
                    <span>South central</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sample/index">
                    <i class="fa fa-support"></i>
                    <span data-bind="i18n: { text: '#sample' }"></span>
                </a>
            </div>
            <div class="menu-group">
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-tachometer"></i>
                    <span>North central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-hospital-o"></i>
                    <span>Middle central</span>
                </a>
                <a class="dropdown-item" href="/sample/focus">
                    <i class="fa fa-stack-overflow"></i>
                    <span>South central</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sample/index">
                    <i class="fa fa-support"></i>
                    <span data-bind="i18n: { text: '#sample' }"></span>
                </a>
            </div>
        </div>
    </div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <!-- ko foreach: { data: _.filter(routes, function(r) { return r.url.indexOf('sample') == -1; }), as: 'r'} -->
            <li class="nav-item text-nowrap">
                <a class="nav-link" data-bind='
                                attr: { href: $vm.router.link(r.url) },
                                css: { active: $vm.router.currentRoute().component.name === r.name }'>
                    <i data-bind="attr: { 'class': r.icon }"></i>
                    <span data-bind="i18n: r.title"></span>
                </a>
            </li>
            <!-- /ko -->
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/no-page/1">
                    <i class="fab fa-creative-commons-nd"></i>
                    <span>No page 1</span>
                </a>
            </li>
        </ul>
        <ul data-bind="component: { name: 'i18n-lang' }" class="navbar-nav flex-row ml-md-auto d-none d-md-flex"></ul>
    </div>
</nav>