a {
    color: #000;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    border-right: 2px solid #127ba3;
}

.nav-link i,
.nav-link a,
.nav-link span {
    color: #fff;
}

.dropdown-item>span {
    padding-left: 10px;
}

.navbar-toggler {
    outline: none;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .navbar-collapse {
        padding-left: 15px;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}