<h2>Step wizard</h2>
<hr />
<div id="wizard" class="row">
    <div class="col-md-3">
        <div data-bind="wizard: {
            step: $vm.step,
            icon: 'fa fa-users',
            title: '#title_wizard',
            steps: ['#step_1', '#step_2', '#step_3', '#step_4', '#step_5', '#step_6', '#step_finish'],
            showFooter: true,
            selectable: true
        }"></div>
    </div>
    <div class="col-md-9">
        <!-- ko switch: $vm.step -->
        <!-- ko case: 0 -->
        <h1>Step 1</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: 1 -->
        <h1>Step 2</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: 2 -->
        <h1>Step 3</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: 3 -->
        <h1>Step 4</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: 4 -->
        <h1>Step 5</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: 5 -->
        <h1>Step 6</h1>
        <hr />
        <!-- /ko -->
        <!-- ko case: $default -->
        <h1>Out of steps</h1>
        <hr />
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<hr />
<!-- ko let: { $tab: ko.observable('#use') } -->
<div data-bind="tabs: ['#use', '#API'], selected: $tab, disableds: ['#API']"></div>
<div class="tab-content">
    <!-- ko switch: $tab -->
    <!-- ko case: '#use' -->
    <pre data-bind="code: $vm.html, type: 'xml'"></pre>
    <!-- /ko -->
    <!-- ko case: '#API' -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gender</th>
                <th>note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vũ Tiến Lâm</td>
                <td>1</td>
                <td>Đẹp trai, ga lăng, là leader tốt tính</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Nguyễn Văn Vương</td>
                <td>1</td>
                <td>Có nhìn thấy gì đâu mà ghi chú</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Trương Văn Lai</td>
                <td>1</td>
                <td>Nhây nhất team ccc</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Lều Thị Lan</td>
                <td>2</td>
                <td>Trước thì xinh nhất, giờ thì...</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Phạm Văn Dân</td>
                <td>1</td>
                <td>Đi Nhựt bổn rồi còn đâu</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Lê Trung Hiếu</td>
                <td>1</td>
                <td>Lại Thằng Hiếu</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Phạm Văn Thành</td>
                <td>1</td>
                <td>Thành Thất Tình</td>
            </tr>

            <tr>
                <td>8</td>
                <td>Nguyễn Hoàng Yến</td>
                <td>2</td>
                <td>Chưa ghi gì cả</td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
    <!-- /ko-->
</div>
<!-- /ko -->