<form class="search-menu d-flex align-items-center">
    <div class="input-group px-2 pb-2">
        <input class="form-control" data-bind="value: keyword, valueUpdate: 'afterkeydown'">
        <div class="input-group-append">
            <button class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <button class="btn btn-link d-md-none p-0" type="button" data-toggle="collapse" data-target="#bd-docs-nav"
        aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <i class="fa fa-bars fa-2x"></i>
    </button>
</form>
<div class="sidebar-sticky noselect">
    <nav class="collapse show" id="bd-docs-nav">
        <ul class="nav flex-column nav-sample" data-bind="foreach: { data: routes, as: 'r'}">
            <li class="nav-item">
                <!-- ko if: r.component -->
                <a class="nav-link" data-bind='
                        attr: { href: $vm.router.link(r.component.url) },
                        css: { active: $vm.router.currentRoute().component.name === r.component.name }'>
                    <i data-bind="attr: { 'class': r.component.icon }"></i>
                    <span data-bind="i18n: r.component.title"></span>
                </a>
                <!-- /ko -->
                <!-- ko if: !r.component -->
                <!-- ko init: { $expand: ko.observable(false) } -->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-2 text-muted" data-bind="click: function() { $expand(!$expand()) }.bind($vm), timeClick: -1">
                    <span data-bind="i18n: r.name"></span>
                    <i class="fa fa-plus-circle"></i>
                </h6>
                <!-- ko if: $expand() -->
                <ul class="nav flex-column nav-sample" data-bind="foreach: { data: r.childs, as: 'c'}">
                    <li class="nav-item">
                        <a class="nav-link" data-bind='attr: { href: $vm.router.link(c.component.url) }, css: { active: $vm.router.currentRoute().component.name === c.component.name }'>
                            <i data-bind="attr: { 'class': c.component.icon }"></i>
                            <span data-bind="i18n: c.component.title"></span>
                        </a>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </li>
        </ul>
    </nav>
</div>