<div data-view="datepicker" class="dropdown-menu show noselect">
    <ul data-view="controls">
        <li data-view="control prev">‹</li>
        <li data-view="control current">November 2018</li>
        <li data-view="control next">›</li>
    </ul>
    <!--<ul data-view="years" data-bind="each: [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]">
        <li data-view="year" data-bind="text: $data"></li>
    </ul>
    <ul data-view="months" data-bind="months: $vm.month"></ul>-->
    <ul data-bind="weeks"></ul>

    <ul data-bind="day"></ul>
    <!--<ul class="mm-times"></ul>-->
</div>