<li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-globe"></i>
        <span data-bind="i18n: 'language'"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" data-bind="foreach: { data: regions, as: 'g' }">
        <a class="dropdown-item" href="#" data-bind="i18n: g, click: $vm.lang.bind($vm.lang, g), css: { 'active': ko.toJS($vm.lang) == g  }"></a>
    </div>
</li>